@import './../../assets/sass/variables.scss';
@import './../../assets/sass/mixin.scss';

.services{
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 2%;
    .services__title{
        font-size: 48px;
        text-align: center;
        margin-bottom: 30px;
    }
    .services__row{
        margin-left: 0px;
        margin-right: 0px;
    }
}
.card-information{
    color: aliceblue;
    margin-bottom:5%;
    .card-information__card{
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: #0099FF;
        padding: 10px;
    }
    
    .card-information__img{
        width: 80%;
        height: auto;
    }
    .card-information__title{
        
        text-align: center;
        font-size:110%;
    }
    .card-information__points{
        text-align:left;
    }
  
}
