.services{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    .services__title{
        text-align: center;
    }
    .services__row{
        margin-left: 0px;
        margin-right: 0px;
    }
}
.card-information{
    color: aliceblue;
    margin-left: 85px;
    margin-right: 85px;
    margin-bottom: 70px;
    .card-information__card--aling-right{
        width: 600px;
        height:280px; 
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: #0099FF;
        margin-right: 0px;
        margin-top: 33px;
        padding: 10px;
    }
    .card-information__card--aling-left{
        width: 600px;
        height: 280px; 
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: #0099FF;
        margin-left: 549px;
        margin-top: 33px;
        padding: 10px;
    }
    .card-information__img{
        width: 100%;
        height: auto;
    }
    .card-information__title{
        font-size:19px;
        text-align: center;
    }
  
}