@import './../../assets/sass/variables.scss';
@import './../../assets/sass/mixin.scss';

.benefits-space{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    .benefits-space__title{
        font-size: 48px;
        line-height: 72px;
        text-align: center;
        margin-bottom: 0px;
    }
    .benefits-space__imge{
        width: 100%;
        height: auto;
        }
}
    .benefits-cards__card--small{
        height: 96px;
        width: 100px; 
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: $blueComponents;
        margin-right: 15px;
        margin-top: 33px;
        padding: 10px;
    }
    .benefits-cards__card--large{
        background: $CardBgBlack;
        border-radius: 15px;
        margin-top: 33px;
        padding-top: 10px;
        margin-right: 15px;
    }
    .benefits-cards__imge{
        width: 100%;
        height: auto;
     }
     .benefits-cards__title{
        font-weight: bold;
        margin-bottom: 0PX;
     }

       