@import './../../assets/sass/variables.scss';
@import './../../assets/sass/mixin.scss';

.benefits-space{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    .benefits-space__title{
        font-size: 48px;
        line-height: 72px;
        text-align: center;
        margin-bottom: 0px;
    }
    .benefits-space__imge{
        width: 100%;
        height: auto;
        }
}
    .benefits-cards__card--small{
        @include benefits-card__card--small-mixin;
    }
    .benefits-cards__card--large{
        @include benefits-card__card--large-mixin;
    }
    .benefits-cards__imge{
        width: 100%;
        height: auto;
     }
     .benefits-cards__title{
        font-weight: bold;
        margin-bottom: 0PX;
     }

       