

img {
    width: 100%;
    height: auto;
    }
  
.cardBig{
    background: rgba(208, 187, 187, 0.25);
    border-radius: 15px;
    margin-top: 33px;
    padding-top: 10px;
    margin-right: 15px;
    }

    .p-title{
        font-weight: bold;
        margin-bottom: 0PX;
    }
    .cardSmall{
        height: 96px;
        width: 100px; 
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: #0099FF;
        margin-right: 15px;
        margin-top: 33px;
        padding: 10px;
    
    }

    .titleS{
        font-size: 48px;
        line-height: 72px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 0px;
        }
        
       