@import './../../assets/sass/variables.scss';
@import './../../assets/sass/mixin.scss';

.service-cards{
    margin-left: 150px;
    margin-right: 150px;
    .service-cards__title{
        font-size: 48px;
        line-height: 72px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 0px;
    }
}
.service-card{
    @include filterServiceCard;
    .service-card__card-header{
        @include service-card__card-header_mixin
    }
    .service-card__card-text{
        height: 180px;
    }
    .service-card__button{
        @include service-card__button-mixin;
    }
}



