.aboutUs{
    text-align: center;
}

.about_us__image{
    z-index: -1;
    position: relative;
    height: auto;
    width: 100%;
    margin-top: 1.5%
}
.about_us__info{
    position:absolute;
    left: 50px;
    top: -9px;
    z-index: 1; 
    max-width: 100%;
}
.about_us__info--data{
    margin-left: 500px;
    text-align: justify;
}