.aboutUs{
    text-align: center;
}

.about_us__info{
    background-image: url('./../../assets/Vector.png');
    position: relative;
    text-align: left;
    background-repeat:round;
    @media (max-width:850px) {
        background-repeat: no-repeat;
        width: 100%;
    }
    @media (max-width: 550px) {
        width: 100vw;
    }
    @media (max-width: 370px) {
        width: 100%;
    }
    width: 100vw;
    top: 25px;
}

.about_us__info--data{
    padding: 40px;
    text-align: center;
}
.about_us__info--image{
    bottom: -5px;
    text-align: center;
}

@media (max-width:831px) {
    .about_us__info--image{
        width: 50vw;
        justify-content: center;
    }
}

@media (max-width:550px) {
    .about_us__info--image{
        width: 70vw;
    }
}

@media (max-width:375px) {
    .about_us__info--image{
        width: 75vw;
    }
}