#card-body{
    border-radius: 20px;
    text-align: start;
    background-color: #0099FF;
}

#btn{
    text-align: end;
}

#btnSend{
    background-color: #03419F;
    color: azure;
    justify-content: end;
}
#info{
    text-align: start;
}
#location{
    border-radius: 15px ;
}

#logo{
    color: #0099FF;
}