.navbar{
    background-color: #0567fc;
    font-family: 'Poppins', sans-serif;
    padding-right: 2%;
    display: flex;
    justify-content: end;

    .navbar__logo{
        color:azure;
        text-decoration:none;
       
        
    }
    .navbar__link{
        color:azure;
        margin-left:10px;
        text-decoration:none;
      
    }
}