.navbar{
    background-color: #0567fc;
    font-family: 'Poppins', sans-serif;

    .navbar__logo{
        color:azure;
        text-decoration:none;
        margin-left: 20px;
        
    }
    .navbar__links{
        margin-left:62%;
        
    }
    .navbar__link{
        color:azure;
        margin-left:10px;
        text-decoration:none;
      
    }
}