.navbar{
    background-color: #0567fc;
    padding-right: 2%;
   

    .navbar__logo{
        color:azure;
        text-decoration:none;
       
        
    }
    .navbar__link{
        color:azure;
        margin-left:10px;
        text-decoration:none;
      
    }
}