.carousel{
    background-color: #E5F2F4;
    
    .carousel__text{
        display:flex;
        align-items: center;
        justify-content: center;
        padding-right: 12%;
        padding-left: 12%;
       text-align: justify;
       font-weight:lighter;
        
    }
   
}