.carousel{
    background-color: #E5F2F4;
    
   

    .carousel__col-image{
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .carousel__image{
            width: 100%;
            height:auto;
    }

    .carousel__row{
        height:550px;
    }
    
    .carousel__col-text{
        display:flex;
        align-items: center;
        justify-content: center;
       padding: 25px 25px 25px 25px;  
      
       
    }
    .carousel__text{
        text-align: justify;
        font-weight:lighter;
        font-size:20px

    }

   
}