
.resaltar{
    background-color: violet;
}
.resaltar2{
    background-color: aqua;
}
.f-med{
    margin-top: 100px;
    text-align: center;
}

.f-end{
   
   text-align: end;

}
.f-start{
    text-align:left;
}
.containerFooter{
    position: absolute;
    margin-left:10%;
    margin-right: 10%;
    margin-top:12% ;
    color: aliceblue;
    font-size: 16px;
}
p{
    margin: 0px;
}

.containerIcons{
    margin-left: 25%;
  
}

@media (max-width:960px) {
    .containerFooter{
        position: absolute;
        margin-top: 120px;
        width: auto;
        font-size: 10px;
       
    }
    .f-med{
        margin-top: 50px;
       
    }
    
}