@import './../../assets/sass/variables.scss';
.footer {
  position: absolute;
  margin-top: 14%;
  justify-content: center;
  text-align: center;
  color: $footerTextColor;
  .footer_text {
    margin: 0px;
  }
  .footer__text--under {
    margin-top: 5.5%;
  }
  .footer__containerIcons {
    margin-left: 30%;
  }
}

@media (max-width: 770px) {
  .footer {
    position: absolute;
    margin-top: 12%;
    font-size: 10px;
  }
}

@media (max-width: 540px) {
  .footer {
    position: absolute;
    margin-top: 11%;
    font-size: 7px;
   
  }
}

@media (max-width: 500px) {
  .footer {
    font-size: 0px;
  }
}

