@import url('https://fonts.googleapis.com/css2?family=Poppins');

body {
  background-color: #E5F2F4;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
