@import './variables.scss';

//*Services Cards Style
@mixin filterCard {
    height: 360px;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));;
    margin-top: 20px;
  }

  @mixin card-header_mixin {
    background: $CardheaderBgGray;
    height: 90px;
    text-align:center;
    padding-top: 10px;
  }
  @mixin card__button-mixin {
    margin-left:80px;
    margin-right:80px;
    text-align: center;
    padding: 5px 30px;
    background: $blueComponents;
    border-radius: 10px;
    color: $Card_text;
  }

//*Service Explanation Cards Style
  @mixin card__align-right {
    width: 600px;
    height:280px; 
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #0099FF;
    margin-right: 0px;
    margin-top: 33px;
    padding: 10px;
  }

  @mixin card__align-left {
    width: 600px;
    height: 280px; 
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #0099FF;
    margin-left: 549px;
    margin-top: 33px;
    padding: 10px;
  }

