$blueColor: #03419F; 
$textInfo: azure;
$footer: aliceblue;
$components: #0099FF;
$highlightViolet: violet;
$highlightAqua: aqua;
$serviceCard_text:ivory;
$serviceCard_header__bg: rgba(228, 228, 228, 0.5);
$benefitCard--large-bg: rgba(208, 187, 187, 0.25);
