$mainBlueColor: #03419F; 
$textInfoAzureColor: azure;
$footerTextColor: aliceblue;
$componentsBlueColor: #0099FF;
$cardTextColor:ivory;
$cardheaderBgGrayColor: rgba(228, 228, 228, 0.5);
$cardBgBlackColor: rgba(208, 187, 187, 0.25);
